@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.buddymedia {
  font-family: "Open Sans", sans-serif;
}

.case-study__header a {
  background-position: 0 -80px;
}

.buddymedia h2 {
  color: #1E9EED;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.buddymedia h2 small {
  display: block;
  font-size: 0.9rem;
}

.case-study__title {
  font-size: 0.8rem;
}

.case-study__header a { }

.case-study__title .buddymedia__logo {
  background: url('../work/buddymedia/img/buddymedia-logo.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  height: auto;
  margin: 0.5rem 0 0;
  min-height: 2.1rem;
  text-indent: -9999px;
  width: 16.75rem;
}

.case-study--inner {
  max-width: 900px;
}

.case-study--inner img {
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  margin-bottom: 2rem;
  width: 100%;
}

.buddymedia__analytics p,
.buddymedia__conversationbuddy p {
  color: #777;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}

p.buddymedia__intro-paragraph {
  margin-bottom: 3rem;
}

.buddymedia__divider {
  width: 50%;
  border: none;
  border-top: 1px solid #eee;
  margin-bottom: 3rem;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .buddymedia h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .buddymedia__analytics p,
  .buddymedia__conversationbuddy p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
