@font-face {
  font-family: "Proxima Nova";
  src: url('fonts/proxima-nova-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url('fonts/proxima-nova-regular-italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url('fonts/proxima-nova-black.woff') format('woff');
  font-weight: 900;
}

.crowdtap {
  font-family: "Proxima Nova";
}

.crowdtap__splash {
  background: #FA1300;
}

.case-study__title {
  color: #fff;
}

.case-study__title p {
  color: inherit;
}

.case-study__body p {
  color: #777;
  line-height: 1.4rem;
}

.case-study--inner h3 {
  margin-bottom: 2rem;
}

.case-study--inner h4 {
  text-align: center;
  margin-bottom: 2rem;
}

.case-study__title .ct-logo {
  display: inline-block;
  background: url('../img/crowdtap_logo_knockout.svg') no-repeat;
  width: 12.5rem;
  height: auto;
  min-height: 2.95rem;
  text-indent: -9999px;
}

.crowdtap__intro-big-text {
  text-align: center;
  margin-bottom: 2rem;
}

p.crowdtap__big-damn,
p.crowdtap__crazy-red {
  color: #FA1300;
  line-height: normal;
}

.crowdtap__intro-big-text p.crowdtap__big-damn {
  font-size: 5.25rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: -1.5rem;
}

.crowdtap__intro-big-text p.crowdtap__crazy-red {
  font-size: 2rem;
}

.crowdtap__intro-big-text p.crowdtap__redesign-start {
  font-style: italic;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.crowdtap__intro-copy {
  font-size: 1.6rem;
}

.crowdtap__intro-copy p {
  color: #444;
  line-height: 1.95rem;
  margin-bottom: 2rem;
}

.crowdtap__intro-copy p:last-child {
  margin-bottom: 0;
}

.crowdtap__intro-copy p.crowdtap--red-copy {
  color: #FA1300;
}

.crowdtap__responsibilities-blurb {
  background: #00B0CA;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6rem;
}

.crowdtap__responsibilities-blurb p {
  font-size: inherit;
  line-height: inherit;
}

.crowdtap__responsibilities-blurb .case-study--inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: none;
}

.crowdtap__responsibilities-blurb-chart {
  display: none;
}

.crowdtap__responsibilites-blurb--inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.crowdtap__ct-1-dot-5 {
  color: #80d8e5;
  font-family: "Proxima Nova";
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.crowdtap__responsibilities-blurb p {
  color: #fff;
  margin-bottom: 2rem;
  text-align: left;
}

.crowdtap__responsibilities-blurb p:last-child {
  margin-bottom: 0;
}

.crowdtap__work-section-heading {
  color: #FA1300;
  font-size: 1.6rem;
  text-align: center;
}

.crowdtap__onboarding .crowdtap__work-section-heading {
  font-size: 2.4rem;
}

.crowdtap__onboarding p {
  margin: 2rem 0;
}

.crowdtap__onboarding-thumbs > img,
.crowdtap__portal img,
.crowdtap__components img {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

.crowdtap__mobile-onboarding-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4% 0 0;
}

.crowdtap__mobile-onboarding-grid .crowdtap__thumb-container {
  flex: 0 0 31%;
  max-width: 320px;
  margin-bottom: 4%;
}

.crowdtap__mobile-onboarding-grid img {
  width: 100%;
}

.crowdtap__portal {
  background: #F5F7F9;
}

.crowdtap__portal p {
  margin-top: 2rem;
}

.crowdtap__portal .crowdtap__work-section-heading {
  color: #444;
}

.crowdtap__components-group {
  margin-bottom: 2rem;
}

/***************************/

@media screen and (min-width: 600px) {
  .crowdtap__intro-big-text {
    margin-bottom: 4rem;
  }

  .crowdtap__intro-big-text p.crowdtap__big-damn {
    font-size: 8.5rem;
    margin-bottom: -2rem;
  }

  .crowdtap__intro-big-text p.crowdtap__crazy-red {
    font-size: 3rem;
  }

  .crowdtap__intro-big-text p.crowdtap__redesign-start {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}

@media screen and (min-width: 800px) {
  .crowdtap__intro-big-text p.crowdtap__big-damn {
    font-size: 16rem;
    margin-bottom: -5rem;
  }

  .crowdtap__intro-big-text p.crowdtap__crazy-red {
    font-size: 5rem;
  }

  .crowdtap__responsibilities-blurb-chart {
    display: block;
    margin: 3rem auto;
    max-width: 1400px;
    width: 100%;
  }

  .crowdtap__onboarding-thumbs {
    width: 1024px;
  }

  .crowdtap__onboarding-thumbs > p {
    margin: 3rem auto;
    text-align: center;
    width: 900px;
  }

  .crowdtap__onboarding-thumbs > img {
    margin: 0 auto;
    max-width: 40rem;
  }

  .crowdtap__portal h3,
  .crowdtap__portal p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 900px;
  }
}
