@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,900,400italic);

.wrapper {
  font-family: "Open Sans", sans-serif;
}

.case-study__body a {
  color: #299BB6;
}

.case-study__body p:last-of-type {
  margin-bottom: 0;
}

.case-study__body img {
  width: 100%;
  margin-bottom: 2rem;
}

.koko__splash {
  background: #299BB6;
}

.case-study__title .koko__logo {
  display: inline-block;
  background: url('../work/koko/img/koko-logo.svg') no-repeat;
  background-size: auto;
  width: 10rem;
  height: auto;
  min-height: 5.6rem;
  text-indent: -9999px;
  margin: 0.5rem 0;
}

.case-study__title p {
  color: #fff;
}

.case-study__body {
  color: #299BB6;
}

.case-study__body p {
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

.koko__intro .case-study--inner {
  min-height: inherit;
}

.koko__main {
  background: #40BDD1;
  color: #fff;
}

.koko__main h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.koko__main p:last-of-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .case-study__body p {
    padding: 0 7.5rem;
  }
  .case-study__body img {
    width: inherit;
  }

  .koko__img-group:nth-of-type(3),
  .koko__img-group:nth-of-type(4) {
    justify-content: center;
  }

  .koko__img-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .koko__img-group:nth-of-type(1) img,
  .koko__img-group:nth-of-type(3) img {
    margin-right: 1.5rem;
  }

  .koko__img-group:nth-of-type(1) img:last-of-type,
  .koko__img-group:nth-of-type(3) img:first-of-type {
    margin-right: 0;
  }

  .koko__img-group-wrapper {
    max-height: 33.35rem;
    max-width: 18.75rem;
    margin-right: 1.5rem;
  }

  .koko__img-group .koko__img-group-wrapper:last-of-type {
    margin-right: 0;
  }

  .koko__img-group img {
    width: 100%;
  }
}
