@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


body {
  border-top: 10px solid #645373;
  line-height: 1.15;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #555;
  line-height: 1.25rem;
}

section {
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}

h2 {
  color: #645373;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.wrapper {
  font-family: "PT Sans", sans-serif;
  max-width: 30rem;
  margin: 0 auto;
}

.container--inner {
  padding-left: 7%;
  max-width: calc(100% - 2rem);
}

.container--inner__body-copy {
}

.block::after {
  content: url("../img/list-divider.png");
  display: block;
  text-align: center;
  height: 1px;
  margin-bottom: 3rem;
  margin-top: -1rem;
}

/***************************/

.intro {
  padding-top: 2rem;
}

.intro__logo a {
  background: url("../img/logos.svg") no-repeat;
  background-position: 0 -200px;
  display: block;
  height: 2rem;
  margin: 0 auto 2rem;
  text-indent: -9999px;
  width: 3rem;
}

/***************************/

.work__list {
  margin-top: 1rem;
}

.work__list > li {
  color: #645373;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.work__list > li:last-of-type {
  margin-bottom: 1rem;
}

.work__list > li::after {
  content: url("../img/list-divider.png");
  display: block;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: -1rem;
  position: relative;
  top: 1rem;
}

.work__list > li:last-of-type::after {
  display: none;
}

.work__list a::after {
  content: " \2192";
}

/***************************/

.about p {
  margin-bottom: 1rem;
}

/***************************/

.footer {
  background: #fff;
}

.footer__sign-off {
  border-top: none;
  margin-top: 0;
  padding: 0;
}

.footer__sign-off p,
.footer__social li,
.footer__social li a {
  color: #ddd;
}

.footer__contact-item.social-icon--email::before {
  content: url('../img/footer-email-icon_light.svg');
}

.footer__contact-item.social-icon--twitter::before {
  content: url('../img/footer-twitter-icon_light.svg');
}

.footer__contact-item.social-icon--linkedin::before {
  content: url('../img/footer-linkedin-icon_light.svg');
}

/***************************/

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .intro__copy h2 {
    font-size: calc(1vw * 4);
  }

  .intro__logo {
    animation: fadeAndSlideUp 0.5s;
  }

  .intro__copy {
    animation: fadeAndSlideUp 0.75s;
  }

  .work,
  .about,
  .footer {
    animation: fadeAndSlideUp 0.9s;
  }

  .block::after {
    animation: fadeAndSlideOver 0.75s;
  }

  .work__list > li::after {
    animation: fadeAndSlideOver 0.75s;
  }

  @keyframes fadeAndSlideUp {
    from { 
      opacity: 0;
      position: relative;
      top: 3rem;
    }
    to { 
      opacity: 1;
      position: relative;
      top: 0;
    }
  }

  @keyframes fadeAndSlideOver {
    0% {
      opacity: 0;
      position: relative;
      left: 3rem;
    }
    66% {
      opacity: 0;
      position: relative;
      left: 3rem;
    }
    100% {
      opacity: 1;
      position: relative;
      left: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
}
