@import url(https://fonts.googleapis.com/css?family=PT+Serif:400);

.sherpa {
  background: #1F2439;
  font-family: "PT Serif", serif;
}

.sherpa__splash {
  background: url('../work/sherpa/img/sherpa-hero.jpg') center bottom no-repeat;
  background-size: cover;
}

.case-study__title {
  text-align: center;
  line-height: auto;
}

.case-study__title .sherpa__logo {
  background: url('../work/sherpa/img/concierge-logo.svg') center no-repeat;
  background-size: 100% 80%;
  display: inline-block;
  height: auto;
  margin: 0 auto;
  min-height: 4.85rem;
  text-indent: -9999px;
  width: 5.85rem;
}

.case-study__body p {
  margin-bottom: 2rem;
}

.sherp__intro .case-study--inner {
  min-height: 0;
}

.sherpa__intro p {
  color: #ECE69D;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.sherpa__intro p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sherpa__intro .case-study--inner {
  min-height: auto;
}

.sherpa__intro .sherpa__big-text,
.sherpa__big-text {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
}

.sherpa__gallery {
  background: #323651;
}

.work__gallery-item img {
  display: block;
}

.sherpa__profile {
  background: #fff;
}

.sherpa__profile p {
  color: #1E2339;
}

.sherpa__landing-page img,
.sherpa__profile img {
  width: 100%;
  margin-bottom: 2rem;
}

.sherpa__landing-page {
  background: #323651;
}

.sherpa__landing-page .sherpa__big-text {
  color: #fff;
}

.sherpa__landing-page {
  border-bottom: 2px solid #1F2439;
}
