@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body {
  background: #fafafa;
}

.socialstars {
  font-family: Lato, sans-serif;
  font-size: 0.9rem;
}

.case-study--inner p {
  color: #777;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.socialstars__splash {
  background: url('../work/socialstars/img/socialstars-splash.png') no-repeat;
  background-size: cover;
}

.case-study__title .socialstars__logo {
  background: url('../work/socialstars/img/socialstars-logo.svg') no-repeat;
  background-size: 10rem 8.05rem;
  display: inline-block;
  height: auto;
  margin: 0 auto;
  min-height: 9.1rem;
  text-indent: -9999px;
  width: 11.3rem;
}

p.socialstars__big-text {
  color: #1EB2C3;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

p.socialstars__shh {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.socialstars__intro {
  margin-bottom: 0;
  padding-bottom: 0;
}

.socialstars__intro .case-study--inner {
  margin-bottom: 0;
  padding-bottom: 0;
}

.socialstars__intro .case-study--inner > p:last-of-type {
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.socialstars__intro p.socialstars__similar-different-block {
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.socialstars__similar-different-block .socialstars__similar,
.socialstars__similar-different-block .socialstars__different {
  color: #1EB2C3;
  display: block;
  font-weight: bold;
  height: auto;
  line-height: auto;
  width: 100%;
}

.socialstars__similar-different-block .socialstars__similar {
  font-size: 5rem;
  margin-bottom: 0.5em;
}

.socialstars__similar-different-block .socialstars__different {
  font-size: 2.7rem;
}

.socialstars__main .socialstars__big-text {
  text-align: center;
}

.socialstars__main img {
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.15);
  display: block;
  margin: 0 auto 2rem;
  width: 100%;
}

.socialstars__app-screen {
  max-width: 1024px;
}

.socialstars__email-screen {
  margin: 0 auto;
}

.socialstars__email-screen img {
  max-width: 618px;
}

/***************************/

@media screen and (min-width: 600px) {
  .case-study__body {
    max-width: 30rem;
    margin: 0 auto;
  }

  .socialstars__splash {
    background-position: center;
  }
}

@media screen and (min-width: 800px) {
  .case-study__body {
    margin: 0 auto;
    max-width: 1024px;
  }

  .case-study__body p {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }

  .socialstars__email-screens-container {
    display: flex;
    flex-flow: row wrap;
  }

  .socialstars__email-screen {
    flex: 0 0 47%;
  }

  .socialstars__email-screen img {
    margin-bottom: 1rem;
  }

  .socialstars__email-screen:nth-of-type(1) { order: 1; }
  .socialstars__email-screen:nth-of-type(2) { order: 3; }
  .socialstars__email-screen:nth-of-type(3) { order: 2; }
  .socialstars__email-screen:nth-of-type(4) { order: 4; }
}
