@import url(https://fonts.googleapis.com/css?family=Oswald|Noto+Sans);

.nbatoday {
  color: #444;
  font-family: "Noto Sans", sans-serif;
}

.case-study__title {
  font-family: Oswald, sans-serif;
  font-size: 4rem;
}

.case-study__title > span {
  font-size: 5rem;
}

.nbatoday__splash {
  background: url('../work/nbatoday/img/team-logos.svg') #222;
  background-size: cover;
  color: #fff;
}

.nbatoday__splash .cta-container a {
  background: #fff;
  color: #444;
  width: 15rem;
}

.nbatoday__product-gif {
  max-width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.nbatoday__body-copy {
  line-height: 1.4rem;
  margin: 0 auto 2rem;
}

.case-study__details {
  border-color: #ddd;
  color: #bbb;
}

.case-study__details .cta-container a {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  color: #999;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .nbatoday__body-copy {
    width: 30rem;
  }
}
