.personalProjectsSection {
  padding: 0 1rem;
}

.personalProjectsSection p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.personalProjectsSection strong {
  font-weight: bold;
}

.personalProjectsSection a {
  color: #656565;
}

.personalProjectSubsection {
  margin-bottom: 4rem;
}

.personalProjectSubsection > div {
  margin-bottom: 2rem;
}

.personalProjectsHeader {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.personalProjectsHeader > p {
  margin-bottom: 1rem;
}

.personalProjectsHeader > p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.projectHeader {
  text-align: center;
}

.projectHeader .projectName {
  font-family: var(--fontFamilySerif);
  font-size: 1.5rem;
  font-weight: bold;
}

.projectHeader .projectLink {
  color: var(--colorBrandDark2);
  font-family: var(--fontFamilySansSerif);
}

.projectHeader .projectLink a {
  color: inherit;
  font-weight: inherit;
}

.projectHeader > p {
  margin-bottom: 0.5rem;
}

.projectHeader .projectNumber {
  background: var(--colorBrandDark2);
  border-radius: 100%;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: var(--fontFamilySerif);
  font-size: 1.25rem;
  font-weight: normal;
  height: 2rem;
  padding-top: 0.25rem;
  text-align: center;
  width: 2rem;
  margin-bottom: 1rem;
}

.projectWbp .projectImgWrapper,
.projectImgWrapper img {
  width: 100%;
}

.projectWbp img {
  max-width: 100%;
}

.projectDescription a {
  color: var(--colorBrandPrimary);
}

.projectDescription > p:first-child {
  margin-bottom: 0.5rem;
}
