.professionalSection {
  color: #767676;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 4rem;
  padding: 2rem 0;
  width: 100vw;
}

.professionalRecent,
.professionalPast {
  line-height: 1.5rem;
  padding: 0 1rem;
  max-width: 37rem;
}

.professionalRecent {
  margin-bottom: 1rem;
}

.professionalPast a {
  color: var(--colorBrandPrimary);
}

.professionalRecent__highlight {
  color: var(--colorBrandDark1);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 37rem) {
  .professionalRecent,
  .professionalPast {
    margin: 0 auto;
  }
}
