.consultingSection {
  padding: 0 1rem;
}

.consultingSection__inner {
  border: 0.125rem solid #ddd;
  border-radius: 0.5rem;
  background: #fff;
  color: var(--colorBrandDark1);
  padding: 1rem;
  text-align: center;
}

.consultingSection p {
  color: #656565;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.consultingSection p:last-child {
  margin: 0;
}

.consultingSection .consultingHighlight {
  color: var(--colorBrandDark1);
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.consultingSectionCta {
  font-size: 1rem;
}
