:root {
  --colorBrandPrimary: #9764A0;
  --colorBrandMedium: #73497B;
  --colorBrandDark1: #362C38;
  --colorBrandDark2: #937E97;
  --fontFamilySerif: Domine, serif;
  --fontFamilySansSerif: Barlow, sans-serif;
}
