.footer {
  background: var(--colorBrandDark1);
  color: var(--colorBrandDark2);
  padding: 2rem 1rem;
}

.farewell {
  color: #fff;
  font-family: var(--fontFamilySerif);
  font-size: 2rem;
  line-height: 125%;
  margin-bottom: 2rem;
}
