.header {
  position: fixed;
}

.homeWrapper { 
  font-size: 1.125em;
}

.wavesSection,
.professionalSection,
.personalProjectsSection {
  padding: 2rem 1rem;
}

.homeWrapper > section {
  box-sizing: border-box;
}

.introSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 4rem;
}

.introTopLine {
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
  color: var(--colorBrandDark1);
  font-family: var(--fontFamilySerif);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 8rem 0 1rem;
  position: fixed;
  width: 100%;
}

.introTopLine__hidden {
  display: none;
}

.introTopLine__scrolled {
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.15);
}

.introBottomLine {
  color: var(--colorBrandPrimary);
  font-weight: bold;
}

.introContent {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.introTitles {
  color: var(--colorBrandDark2);
  margin-top: 11.5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.introTitles > li {
  margin-bottom: 1rem;
}

.introTitles > li:last-child {
  margin-bottom: 0;
}

.introTitleItem { }

.introTitleItem__active {
  color: var(--colorBrandPrimary);
}

.introBottom {
  background-image: linear-gradient(rgba(255,255,255, 0), 60%, var(--colorBrandDark1) 90%);
  bottom: 0;
  color: #fff;
  font-size: 0.875rem;
  font-style: italic;
  padding-top: 12.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.wavesSection {
  align-items: flex-start;
  background-image:
    linear-gradient(#fff, rgba(255,255,255,0) 25%),
    linear-gradient(rgba(54,44,56,0), var(--colorBrandDark1) 25%);
  display: flex;
  flex-flow: column nowrap;
  font-size: 4rem;
  justify-content: center;
  padding-top: 16rem;
  padding-bottom: 0;
  position: relative;
}

.wavesSection__sticky {
  position: fixed;
}

.emojiWrapper { }

.bigHi {
  color: #fff;
  font-family: var(--fontFamilySerif);
  font-weight: bold;
  font-size: 4rem;
}

.professionalSection {
  background: var(--colorBrandDark1);
  color: #fff;
  height: auto;
}

.proBlurb {
  font-size: 1.125rem;
}

.proBlurb > p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.personalProjectsSection a {
  color: #656565;
}

.personalProjectsHeader {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.personalProjectsHeader > p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.projectDescription a {
  color: var(--colorBrandPrimary);
}

.personalProjectSubsection {
  margin-bottom: 2rem;
}

.personalProjectSubsection > p:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

.personalProjectSubsection img {
  max-width: 100vw;
  margin: 2rem 0 0 -1rem;
}

.projectHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.projectHeader > p {
  font-family: var(--fontFamilySerif);
  font-size: 2rem;
}

.projectImgWrapper {
  transform: translateY(calc(1rem * -1));
}

@media (min-width: 768px) {
  .homeWrapper {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .homeWrapper {
    font-size: 1.75rem;
  }
}
