.homeWrapper { 
  font-size: 1.125em;
  height: 100%;
  padding: 0 1rem;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

.greeting {
  font-size: 4rem;
}
.greeting__enter {
  opacity: 0;
}
.greeting__enterActive {
  opacity: 1;
  transition: opacity 200ms;
}
.greeting__exit {
  opacity: 1;
}
.greeting__exitActive {
  opacity: 0;
  transition: opacity 200ms;
}

.greeting__wave { }

.greeting__wave01 { }

.greeting__wave02 {
  display: inline-block;
  transform: scaleX(-1);
}
.greeting__wave03 { }

@media (min-width: 768px) {
  .homeWrapper {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .homeWrapper {
    font-size: 1.75rem;
  }
}
