@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Domine:wght@700&display=swap');

a {
  color: #fff;
}

.wrapper {
  color: #444;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  height: 100%;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}
